body{
  --main-loader-bgr-c4: white;
  --main-loader-squares-c0: rgba(220,220,220,0.8);
}


.mainLoader {
  visibility: visible;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  transition: 0.3s;
  top: 0;
  z-index: 100000000000000000000000000000;
}
.loader {
  visibility: visible;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--main-loader-bgr-c4);
  z-index: 1000;
  transition: 0.3s;
}
.square {
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--main-loader-squares-c0);
  transform: rotate(45deg);
  opacity: 0;
  animation: loader 1.2s infinite;
}
.square:nth-child(1) {
  top: -24px;
  left: -24px;
  animation-delay: -0.5s;
}
.square:nth-child(2) {
  top: -48px;
  animation-delay: -0.4s;
}
.square:nth-child(3) {
  top: -24px;
  left: 24px;
  animation-delay: -0.3s;
}
.square:nth-child(4) {
  animation-delay: -0.2s;
}

@keyframes loader {
  0% {opacity: 0;}
  25% {opacity: 1; }
  75% {opacity: 1; }
  100% {opacity:0;}
}
